<div class="jumbotron mt-4">
  <h1 class="display-4">Cartone app Rulez</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis necessitatibus ex recusandae obcaecati nihil quam alias assumenda a, dolores eligendi?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ipsam atque nesciunt earum at enim, sint adipisci animi debitis dolor, saepe molestiae sapiente distinctio libero blanditiis sequi. Alias, quas, unde.</p>
  <a href="http://mokuzaru.com" class="btn btn-primary btn-lg">MokuzaruWeb</a>
</div>
